// _variables.scss

// Paleta principal
$gris-oscuro: #2E2E2E;
$blanco-humo: #F5F5F5;
$gris-medio: #BFBFBF;
$rosa-claro: #E7BFC5;
$rosa-viejo: #dd8391;

// Colores semánticos
$color-primario: $rosa-viejo;
$color-secundario: $gris-oscuro;
$color-acento: $rosa-claro;
$color-texto: $gris-oscuro;
$color-fondo: $blanco-humo;
